.fill-remaining-space {
  /*This fills the remaining space, by using flexbox.  
 Every toolbar row uses a flexbox row layout. */
 flex: 3 3 auto;
}
.s{
  font-family: 'Charis SIL', serif;
  width: 140px;
  font-size: 17px;
  font-weight: 500;
  font-display:inherit;
  color:darkgreen;
}